<!DOCTYPE html>
<html>
  <head>
    <title>My Personal Todo List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.4/js/tether.min.js', 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar fixed-top navbar-light bg-white">
      <div class="container">
        <a class="navbar-brand" href="/">
          Heroku CI/CD Example
        </a>
      </div>
    </nav>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
